@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1237;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-scrollbar {
  /* Allows scrolling */
  overflow: auto;
}

/* Hide the scrollbar in webkit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: none;
}
